/**
 * CSS for MaIOMan 404 Template
 **/
 .windowLayerStyleFullscreen{
 	background-color: transparent;
 }
.windowLayerStyleFullscreen .closeIcon{
	top: 7px;
	right: 7px;
	background: #000 url("../img/close_white.png") no-repeat;
	background-size: 20px 20px;
}
.windowLayerStyleFullscreen .closeIcon:hover{
	width: 21px;
  	height: 21px;
  	background-size: 21px 21px;
}

.windowLayer .modalInfoMsg{
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.85); 
}

.windowLayer .modalInfoMsg h1, .windowLayer .modalInfoMsg p, .windowLayer .modalInfoMsg a, .windowLayer .modalInfoMsg a:hover{
  color: #fff;
}