/**
 * CSS for MaIOMan 404 Template
 **/
.container.app .modalInfoMsg{
  width: 97%;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}