/**
 * CSS for MaIO App Contents Component
 **/

 /* Desktop Layer */
.desktopLayer{
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.rightBlocksLayer{
	
}

/* Window Layer */
.windowLayerStyle{
  position: absolute !important;
  display: block;
  top: 80px;
  left: 15px;
  width: 400px;
  height: 100px;
  padding: 5px;
  background-color: #fff;

  overflow: auto;
 
  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc;

  border-radius: 5px;
  z-index: 2;
}
.windowLayerStyleFullscreen{
  top: 75px;
  left: 15px;
  width: 98%;
  height: 70%;
}
.windowLayerStyleFullscreen div:first-child{
  width: 100%;
  height: 100%;
}
.ui-resizable-helper { border: 1px dotted gray; }


/* Desktop modules/apps icons layer */
.desktopAppIconLayer{
  display: inline-table;
  width: 100px;
  height: 125px;
  margin: 5px;
  padding: 5px;
  background-color: #fff;

  -moz-box-shadow: 0 0 10px #ccc; 
  -webkit-box-shadow: 0 0 10px #ccc; 
  box-shadow: 0 0 10px #ccc;

  border-radius: 5px;
  text-align: center;
  color: #000;
}

.desktopAppIconLayer a, .desktopAppIconLayer a:hover{
  color: #000;
}
.desktopAppIconLayer a div{
  display: block;
  width: 100px;
  height: 125px;
}
.desktopAppIconLayer a div i{
  margin-bottom: 5px;
}

.closeIcon{
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
  height: 20px;
  background: #fff url("../img/close_black.png") no-repeat center top;
  background-size: 20px 20px;
  cursor: pointer;
}
.closeIcon:hover{
  width: 21px;
  height: 21px;
  background-size: 21px 21px;
}

/* Resaltar elementos cuando se pase el cursor por encima del elemento*/
.desktopAppIconLayer:hover, .windowLayerStyle:hover{
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.57); 
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.57); 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.57);
}