// Karma configuration
// Generated on Sun Jul 23 2017 19:42:05 GMT+0200 (CEST)

module.exports = function(config) {
  config.set({

    // base path that will be used to resolve all patterns (eg. files, exclude)
    basePath: '',


    // frameworks to use
    // available frameworks: https://npmjs.org/browse/keyword/karma-adapter
    frameworks: ['jasmine'],


    // list of files / patterns to load in the browser
    files: [
        'test/unit/**/*[sS]pec.js',
        'vendors/jquery/jquery.min.js',
        'test/unit/autoloadfake.js',
        'vendors/angular/angular.js',
        'vendors/angular-mocks/angular-mocks.js',
        'vendors/angular-route/angular-route.min.js',
        'vendors/angular-cookies/angular-cookies.min.js',
        'vendors/angular-css/angular-css.min.js',
        'vendors/oclazyload/dist/ocLazyLoad.min.js',
        'vendors/re-tree/re-tree.min.js',
        'vendors/ng-device-detector/ng-device-detector.min.js',
        'js/**/*.js',
    ],


    // list of files to exclude
    exclude: [
    ],

    // preprocess matching files before serving them to the browser
    // available preprocessors: https://npmjs.org/browse/keyword/karma-preprocessor
    preprocessors: {
        'test/unit/**/*[sS]pec.js': ['coverage']
    },

    // test results reporter to use
    // possible values: 'dots', 'progress'
    // available reporters: https://npmjs.org/browse/keyword/karma-reporter
    reporters: ['progress', 'junit', 'coverage'],

    junitReporter: {
        outputFile: '../../logs/unittest_reports/maioman/junit/junit.xml',
        suite: 'unit'
    },

    coverageReporter: {
        dir: '../logs/unittest_reports/maioman/coverage/',
        watermarks: {
            statements: [50, 75],
            functions: [50, 75],
            branches: [50, 75],
            lines: [50, 75]
        },
        reporters: [
            {type: 'lcov', subdir: '.'},
            {type: 'cobertura', subdir: '.', file: 'cobertura.xml'}
        ]
    },

    // web server port
    port: 9876,


    // enable / disable colors in the output (reporters and logs)
    colors: true,


    // level of logging
    // possible values: config.LOG_DISABLE || config.LOG_ERROR || config.LOG_WARN || config.LOG_INFO || config.LOG_DEBUG
    logLevel: config.LOG_DEBUG,


    // enable / disable watching file and executing tests whenever any file changes
    autoWatch: false,


    // start these browsers
    // available browser launchers: https://npmjs.org/browse/keyword/karma-launcher
    browsers: ['Chrome'],
    //browsers: ['Chrome', 'Firefox'],
    /*customLaunchers: {
      ChromeNoSandbox: {
        base: 'Chrome',
        flags: ['--no-sandbox']
      },
      Chrome_without_security: {
        base: 'Chrome',
        flags: ['--disable-web-security']
      }
    },*/

    // Continuous Integration mode
    // if true, Karma captures browsers, runs the tests and exits
    singleRun: true,

    // Concurrency level
    // how many browser should be started simultaneous
    concurrency: Infinity,

    plugins: [
        'karma-chrome-launcher',
        'karma-firefox-launcher',
        'karma-jasmine',
        'karma-junit-reporter',
        'karma-coverage'
    ]
  })
}
