exports.config = {
  //seleniumAddress: 'http://localhost:4444/wd/hub',
  //baseUrl: 'http://localhost:8000/',
  //seleniumServerJar: '/usr/lib/node_modules/protractor/node_modules/webdriver-manager/selenium/selenium-server-standalone-3.4.0.jar',



  directConnect: true,
  chromeDriver: process.env.CHROME_BIN,
  firefoxPath: process.env.FIREFOX_BIN,
  
  specs: ['test/e2e/**/*[sS]pec.js'],
  
  //dev. mode
  capabilities: {
    browserName: 'chrome'
    //browserName: 'firefox'
  },
  debug: true,

  framework: 'jasmine',
  jasmineNodeOpts: {
  	showColors: true
  },

  resultJsonOutputFile: '../logs/e2etest_reports/output.json',

  ignoreUncaughtExceptions: true
}